.collapsible#sidebar-bottom-nodes-chooser {
  border-top: 1px solid $color_background_sidebar_top;
  border-right: 1px solid $color_background_sidebar_top;
  border-left: 1px solid $color_background_sidebar_top;
  .collapsible-header {
    color: #fff;
    @extend .grey.darken-4;
    border-bottom: 1px solid $color_background_sidebar_top;
  }
  .collapsible-body {
    @extend .white-text;
    border-bottom: 1px solid $color_background_sidebar_top;
  }
  thead {
    border-bottom: 1px solid $color_background_primary;
  }
}