@import "../../../node_modules/materialize-css/sass/materialize";
@import "typography";
@import "variables";
// General
#sidebar-container {
  background-color: $primary-color-dark;
  width: $sidebar-width;
  float: left;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  @media screen and (max-width: $medium-screen) {
    width: 100vw;
    height: 50%;
    float: right !important;
  }
  @media only screen and (max-width: 992px) {
    overflow-x: auto !important;
  }
  .container {
    width: calc(100% - 20px) !important;
    padding: 15px 20px;
  }
  #sidebar-main {
    // Top
    #mainSidebarTitle {
      @extend .assistant, .thin;
      margin-top: 0;
    }

    #sidebar-head {
      @extend .grey, .darken-3;
      @extend .white-text;
      width: 100%;
      #sidebar-main-head-search {
        margin-top: 25px;
        /* label focus color */
        .input-field input[type=text]:focus + label {
          color: $ff_magenta;
        }
        /* label underline focus color */
        .input-field input[type=text]:focus {
          border-bottom: 1px solid $ff_magenta;
          box-shadow: 0 1px 0 0 $ff_magenta;
        }
        /* valid color */
        .input-field input[type=text].valid {
          border-bottom: 1px solid white;
          box-shadow: 0 1px 0 0 white;
        }
        /* invalid color */
        .input-field input[type=text].invalid {
          border-bottom: 1px solid $ff_magenta;
          box-shadow: 0 1px 0 0 $ff_magenta;
        }
        /* icon prefix focus color */
        .input-field .prefix.active {
          color: $ff_magenta;
        }
      }
    }

    .sidebar-legend-nodesymbol {
      width: 15px;
      height: 15px;
      display: inline-block;
      border-radius: 50%;
      margin-left: 15px;
      &:first-child {
        margin-left: 0;
      }
      &#sidebar-legend-new {
        @extend .green, .darken-1;
      }
      &#sidebar-legend-online {
        @extend .blue, .darken-3;
      }
      &#sidebar-legend-offline {
        @extend .red, .darken-3;
      }
    }

    // Bottom
    #sidebar-main-bottom {
      .tabs {
        @extend .grey.darken-4;
        overflow-x: hidden;
        .tab > a {
          color: $ff_magenta;
        }
        .indicator {
          background-color: $ff_yellow;
        }
      }

      .collapsible#sidebar-bottom-nodes-chooser {
        border-top: 1px solid #424242;
        border-right: 1px solid #424242;
        border-left: 1px solid #424242;
        .collapsible-header {
          color: #fff;
          @extend .grey.darken-4;
          border-bottom: 1px solid #424242;
        }
        .collapsible-body {
          @extend .white-text;
          border-bottom: 1px solid #424242;
        }
        thead {
          border-bottom: 1px solid $primary-color-dark;
        }
        .switch label input[type=checkbox]:checked + .lever {
          background-color: #ff99ff;
          &:after {
            background-color: $ff_magenta;
          }
        }
      }

      h3 {
        @extend .assistant, .thin;
      }
      #sidebar-bottom-about {
        @extend .white-text;
        h5 {
          @extend .thin, .assistant;
        }
        a {
          color: $ff_magenta;
        }
      }
      table {
        font-family: Assistant, sans-serif !important;
        th {
          padding: 3px 5px !important;
        }
        td {
          padding: 3.5px;
        }
      }
    }
  }
  #sidebar-details {
    color: #fff;
    td, th {
      padding: 5px;
    }
    td {
      .progress {
        margin: .5rem 0 !important;
        height: 18px;
      }
    }
    #sidebar-details-close {
      width: 3rem;
      border-radius: 25px;
      height: 3rem;
      background-color: #424242;
      position: relative;
      right: 15px;
      top: 15px;
      margin: 0;
      float: right;
      cursor: pointer;
      i {
        color: #e0e0e0;
        font-size: 3rem;
        transition: color 0.2s;
        &:hover {
          color: $ff_magenta;
        }
      }
    }
    .container {
      @media only screen and (min-width: 1200px) and (max-width: 1465px) {
        font-size: 72.5%;
        h1 {
          font-size: 24px;
        }
      }
      @media only screen and (min-width: 1075px) and (max-width: 1199px) {
        font-size: 65%;
        h1 {
          font-size: 22px;
        }
      }
      @media only screen and (min-width: 993px) and (max-width: 1074px) {
        font-size: 50%;
        h1 {
          font-size: 20px;
        }
      }
    }
  }
}