// 1. COLORS
$color_accent: #ef6461;
$color_primary: #157384;

$color_text_lighterDarker: #e0e0e0;
$color_text_contrast: #000;
$color_text_normal: #fff;

$color_background_primary: #212121;
$color_background_sidebar_top: #424242;
$color_background_lighterDarker: #424242;

$color_alert: #e51912;

/// 2. Lengths and Widths
$width_sidebar: 30vw;
