@import "../../../node_modules/materialize-css/sass/materialize";
@import "variables";
#map-container {
  width: 70vw;
  height: 100%;
  float: right;
  z-index: 4;
  @media screen and (max-width: $medium-screen) {
    width: 100vw;
    height: 50%;
  }
  .leaflet-bar {
    border: none;
    a {
      width: 40px;
      height: 40px;
      line-height: 35px;
      font-size: 30px;
      font-weight: 100;
      border: 0;
      transition: .3s ease;
      &:hover {
        color: $ff_magenta;
        &.leaflet-disabled {
          color: #bbb !important;
        }
      }
      &:first-child {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
      }
      &:last-child {
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
      }
    }
  }
  .leaflet-control-layers-toggle {
    background-image: none !important;
    i.material-icons {
      @extend .grey-text.text-darken-4;
      font-size: 44px !important;
    }
  }
  .leaflet-control-layers-selector[type=radio] {
    opacity: 1 !important;
    position: relative !important;
  }
  .leaflet-control-layers-selector[type=checkbox] {
    position: relative !important;
    opacity: 1 !important;
  }
}
.leaflet-tooltip-node {
  color: $ff_magenta !important;
  border: 1px solid $ff_yellow !important;
}
