// 1. COLORS
$color_accent: #ef6461;
$color_primary: #157384;

$color_text_lighterDarker: #424242;
$color_text_contrast: #fff;
$color_text_normal: #171219;

$color_background_primary: #ffffff;
$color_background_sidebar_top: #f5f5f5;
$color_background_lighterDarker: #e0e0e0;
$color_alert: #e51912;

/// 2. Lengths and Widths
$width_sidebar: 30vw;
