// 1. COLORS
$color_accent: #ffb400;
$color_primary: #dc0067;

$color_text_lighterDarker: #424242;
$color_text_contrast: #fff;
$color_text_normal: #000;

$color_background_primary: #ffffff;
$color_background_sidebar_top: #f5f5f5;
$color_background_lighterDarker: #e0e0e0;
$color_alert: #d50000;

/// 2. Lengths and Widths
$width_sidebar: 30vw;
