#preloader {
  background-color: $color_background_primary;
  z-index: 1;
  height: 100vh;
  width: 100vw;
  position: absolute;
  #preloader-text {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    height: 0;
  }
  .preloader-wrapper{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    .spinner-magenta-only {
      border-color: $color_primary;
    }
  }
}