@import "../../../node_modules/materialize-css/sass/materialize";
@import "typography";
// General
#sidebar-container {
  background-color: $color_background_primary;
  z-index: 5;
  width: $width_sidebar;
  float: left;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  &.close {
    width: 75px;
  }
  @media only screen and (max-width: 992px) {
    overflow-x: auto;
  }
  @media screen and (max-width: $medium-screen) {
    width: 100vw;
    height: 30%;
    float: right !important;
  }
  .container {
    width: calc(100% - 20px) !important;
    padding: 15px 20px;
  }
  #sidebar-main {
    // Top
    #mainSidebarTitle {
      @extend .assistant, .thin;
      margin-top: 0;
    }

    #sidebar-head {
      background-color: $color_background_sidebar_top;
      width: 100%;
    }

    #sidebar-main-head-search {
      margin-top: 25px;
      /* label color */
      .input-field label {
        color: $color_text_normal;
      }
      /* label focus color */
      .input-field input[type=text]:focus + label {
        color: $color_primary;
      }
      /* label underline focus color */
      .input-field input[type=text]:focus {
        border-bottom: 1px solid $color_primary;
        box-shadow: 0 1px 0 0 $color_primary;
      }
      /* valid color */
      .input-field input[type=text] {
        border-bottom: 1px dotted $color_text_normal !important;
      }
      /* icon prefix focus color */
      .input-field .prefix.active {
        color: $color_primary;
      }
    }
    // Bottom
    #sidebar-main-bottom {
      .tabs {
        background-color: $color_background_primary;
        overflow-x: hidden;
        .tab > a {
          color: $color_primary;
        }
        .indicator {
          background-color: $color_accent;
        }
      }
      #sidebar-bottom-nodes {
        margin-right: 20px;
      }
      .collapsible#sidebar-bottom-nodes-chooser {
        .collapsible-header {
          color: $color_text_normal;
          background-color: $color_background_primary
        }
        .collapsible-body {
          color: $color_text_normal;
        }
        .switch label input[type=checkbox]:checked + .lever {
          background-color: #ff99ff;
          &:after {
            background-color: $color_primary;
          }
        }
      }
      h3 {
        @extend .assistant, .thin;
      }
      #sidebar-bottom-about {
        h5 {
          @extend .thin, .assistant;
        }
        a {
          color: $color_primary;
        }
      }
      table {
        font-family: Assistant, sans-serif !important;
        th {
          padding: 3px 5px !important;
        }
        td {
          padding: 3.5px;
        }
        td, th {
          max-width: 17ch;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
        }
      }
    }
  }
  #sidebar-main-bottom-smallerBigger {
    @media screen and (max-width: $medium-screen) {
      display: none;
    }
    @media screen and (min-width: $medium-screen + 1) {
      &.open {
        position: relative;
        left: calc(30vw - 50px);
        //top: calc(50% - 37.5px);
        height: 50px;
        cursor: pointer;
        width: 50px;
      }
      &.close {
        width: 50px;
        position: relative;
        margin: auto;
        height: 50px;
        cursor: pointer;
        top: calc(50% - 37.5px);
      }
    }
    .material-icons {
      font-size: 50px;
    }
  }

  #sidebar-details {
    td, th {
      padding: 5px;
    }
    td {
      .progress {
        margin: .5rem 0 !important;
        height: 18px;
      }
    }
    #sidebar-details-close {
      width: 3rem;
      border-radius: 25px;
      height: 3rem;
      background-color: $color_background_lighterDarker;
      position: relative;
      right: 15px;
      top: 15px;
      margin: 0;
      float: right;
      cursor: pointer;
      i {
        color: $color_text_lighterDarker;
        font-size: 3rem;
        transition: color 0.2s;
        &:hover {
          color: $color_primary;
        }
      }
    }
    .container {
      @media only screen and (min-width: 1200px) and (max-width: 1465px) {
        font-size: 72.5%;
        h1 {
          font-size: 24px;
        }
      }
      @media only screen and (min-width: 1075px) and (max-width: 1199px) {
        font-size: 65%;
        h1 {
          font-size: 22px;
        }
      }
      @media only screen and (min-width: 993px) and (max-width: 1074px) {
        font-size: 50%;
        h1 {
          font-size: 20px;
        }
      }
    }
  }
}