@import "materialize/sass/materialize";
@import "typography";
@import "variables";
#sidebar-container {
  width: $sidebar-width;
  float: left;
  height: 100%;

  .container {
    width: calc(100% - 20px) !important;
    padding: 15px 20px;
  }
}
#sidebar-title {
  @extend .assistant, .bold
}

#sidebar-head {
  @extend .grey, .lighten-4;
  position: absolute;
  top: 0;
  width: $sidebar-width;
  height: $sidebar-head-height;
}
.sidebar-legend-nodesymbol {
  width: 15px;
  height: 15px;
  display: inline-block;
  border-radius: 50%;
  &#sidebar-legend-new {
    @extend .green, .darken-1;
  }
  &#sidebar-legend-online {
    @extend .blue, .darken-3;
  }
  &#sidebar-legend-offline {
    @extend .red, .darken-3;
  }
}
#sidebar-head-search {
  margin-top: 25px;
  /* label color */
  .input-field label {
    color: #000;
  }
  /* label focus color */
  .input-field input[type=text]:focus + label {
    color: #dc0067;
  }
  /* label underline focus color */
  .input-field input[type=text]:focus {
    border-bottom: 1px solid #dc0067;
    box-shadow: 0 1px 0 0 #dc0067;
  }
  /* valid color */
  .input-field input[type=text].valid {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
  }
  /* invalid color */
  .input-field input[type=text].invalid {
    border-bottom: 1px solid #dc0067;
    box-shadow: 0 1px 0 0 #dc0067;
  }
  /* icon prefix focus color */
  .input-field .prefix.active {
    color: #dc0067;
  }
}